*.o
*.so
symbols.rds
.directory
.Rhistory
.Rproj.user
.Rbuildignore
.travis.yml
revdep
tests/testthat/Rplots.pdf
inst/doc
cran_check.R
vignettes/*_cache
doc/*.R
doc/*.Rmd
Meta
docs/*
.vscode/*
.history
