h1, .h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2, .h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3, .h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

.bg-primary .navbar-nav .show>.nav-link, .bg-primary .navbar-nav .nav-link.active, .bg-primary .navbar-nav .nav-link:hover, .bg-primary .navbar-nav .nav-link:focus {
    color: #ffb81c !important;
}

.text-muted {
    color: #ffb81c !important;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  color: #234660;
}
